@import '/src/assets/scss/mixins.scss';

.post-container {
  @include card-container;
  @include opacity-animation;

  .author {
    span:first-child {
      font-weight: bold;
      cursor: pointer;
    }
  }

  .cats {
    span {
      margin-right: 10px;
      border-bottom: 2px dotted darkslategrey;
      cursor: pointer;
    }

    margin-bottom: 10px;
  }

  .tags {
    span {
      margin-right: 10px;
      cursor: pointer;
    }

    .bg-light {
      color: darkslategrey;
    }

    margin-bottom: 5px;
  }

  .image {
    height: 50vh;
    overflow: hidden;

    img {
      width: 100%;
    }
  }

  .ql-syntax {
    background-color: #23241f;
    color: #f8f8f2;
    overflow: auto;
  }

  .ql-align-center {
    text-align: center;
  }

  .ql-align-justify {
    text-align: justify;
  }

  .ql-align-right {
    text-align: right;
  }
}
