@import '/src/assets/scss/colors.scss';
@import '/src/assets/scss/mixins.scss';

.main-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    &-grid {
        width: 80vw;
        display: grid;
        grid-template-columns: 7fr 2fr;

        .account-container {
            margin: 15px 5px;
            background-color: white;
            border: 1px solid lightgray;
            position: sticky;
            height: min-content;

            .user-container {
                padding: 10px;
                text-align: center;
                top: 61px;

                .info {
                    text-align: center;
                    margin-bottom: 10px;
                }
            }

            .login {
                font-weight: bold;
                text-align: center;
            }

            .ban {
                margin-top: 10px;
                background-color: unset;
                color: red;
                font-weight: bold;
            }

            .title {
                display: block;
                text-align: center;
                font-weight: bold;
            }

            .unit {
                display: block;
                text-align: left;

                .raiting {
                    font-weight: bold;
                    margin-right: 10px;
                    margin-left: 10px;
                }

                .link {
                    cursor: pointer;
                    text-decoration: underline;
                    display: flex;
                }
            }
        }

        .content-area {
            min-height: calc(100vh - 116px);
            overflow: hidden;
        }
    }
}

.emoji {
    font-size: 4em;
    text-align: center;

    .bi-person-lines-fill {
        color: gray;
    }
    .bi-person-check {
        color: green;
    }
    .bi-emoji-dizzy-fill {
        color: red;
    }
}

.nav {
    display: flex;
    flex-flow: column nowrap;

    button {
        display: block;
        margin: 10px;
    }

    div {
        text-align: center;
        margin-bottom: 10px;
        font-size: 0.9em;

        a {
            display: block;
        }
    }
}

.nav-container {
    border-bottom: 1px solid lightgray;
    width: 100%;
    position: sticky;
    top: 0px;
    background-color: white;
    z-index: 10;

    &-nav {
        display: flex;
        justify-content: center;
        align-items: center;
        height: 45px;
        background-color: get-color(dark-blue);
        
        a {
            color: white;
            cursor: pointer;
        }

        ul {
            padding: 5px;
        }
    }
}

footer {
    background-color: get-color(dark-blue);
    color: white;
    height: 70px;
    width: 100%;
    padding: 10px;

    div {
        text-align: center;
    }
}

.nav-item {
    i {
        display: inline;
        padding: unset;
        color: white;
    }

    a {
        display: inline;
        padding-left: 5px;
    }
}

.notify-item {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 10px 0px;

    .delete {
        cursor: pointer;
        color: lightgrey;
        margin-left: 20px;

        &:hover {
            color: black;
        }
    }
}
