@import '/src/assets/scss/mixins.scss';

.form-container {
    @include card-container;

    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;

    form {
        width: 35vw;
    }

    .form-group {
        margin: 15px 0px;
    }

    .btn {
        margin-top: 5px;
    }

    .variant {
        margin-top: 10px;
    }
}
