<div class="user-container">
    <div class="login">
        <span>{{ user?.UserName }}</span>
    </div>
    <div class="info">
        <span>{{ user?.LastName }}&nbsp;</span>
        <span>{{ user?.FirstName }}&nbsp;</span>
        <span>{{ user?.Patronymic }}&nbsp;</span>
        <span>({{ user?.Age }} лет)&nbsp;</span>
    </div>
    <div class="description">
        <div>
            Об авторе:
        </div>
        <span>{{ user?.Description }}</span>
    </div>

    <app-like [count]="user?.LikesCount || 0" [isLiked]="user?.IsLiked || false" [likedObject]="user" (doLike)="like($event)"></app-like>
</div>
