<app-post-container *ngFor="let post of publications" [post]="post">
    <div class="info-bar">
        <div>Комментарии <i class="bi bi-chat-left-dots-fill"></i> {{post?.CommentsCount}}</div>
        <app-like [count]="post.LikesCount || 0" [isLiked]="post?.IsLiked || false" [likedObject]="post" (doLike)="like($event, post)"></app-like>
    </div>
    <div class="link">
        <button type="button" class="btn btn-outline-dark" (click)="navigate(post?.Id)">Читать далее...</button>
    </div>
</app-post-container>

<pagination [boundaryLinks]="true" [totalItems]="metaData.TotalCount" [itemsPerPage]="metaData.PageSize" (pageChanged)="pageChanged($event)" [firstText]="'<<'" [lastText]="'>>'" [nextText]="'>'" [previousText]="'<'" [rotate]="true"></pagination>
