<div class="form-container">
    <h5>Введите свои учётные данные</h5>

    <form *ngIf="step === 1">
        <div>Шаг 1 - Идентификация пользователя</div>
        <div class="form-group">
            <label for="login">Введите ваш логин</label>
            <input type="text" class="form-control" id="login" placeholder="Логин" [(ngModel)]="login" name="login">
        </div>

        <button type="submit" class="btn btn-outline-dark" (click)="getQuestion()">Продолжить</button>
    </form>

    <form *ngIf="step === 2">
        <div>Шаг 2 - Ответ на контрольный вопрос</div>
        <div class="form-group">
            <label for="question">Выберите свой контрольный вопрос</label>
            <select class="form-select" [(ngModel)]="activeQuestion">
                <option *ngFor="let question of questionsList">{{ question.Question }}</option>
            </select>
        </div>
        <div class="form-group">
            <label for="answer">Ответ на вопрос</label>
            <input type="text" class="form-control" id="answer" placeholder="Ответ" [(ngModel)]="answer" name="answer">
        </div>

        <button type="submit" class="btn btn-outline-dark" (click)="answerQuestion()">Продолжить</button>
    </form>

    <form *ngIf="step === 3">
        <div>Шаг 3 - Сохранение нового пароля</div>

        <div class="form-group">
            <label for="password">Придумайте новый пароль</label>
            <input type="password" class="form-control" id="password" placeholder="Пароль" [(ngModel)]="password" name="password">
        </div>
        <div class="form-group">
            <label for="repeatPassword">Повторите пароль</label>
            <input type="password" class="form-control" id="repeatPassword" placeholder="Повторите пароль" [(ngModel)]="repeatPassword" name="repeatPassword">
        </div>

        <div *ngIf="incorrectPasswords" style="color: red; margin-bottom: 10px;">Пароли не совпадают!</div>

        <button type="submit" class="btn btn-outline-dark" (click)="changePassword()">Сохранить</button>
    </form>
</div>

<app-succesful-send [(visible)]="succesfulChangePassword" [text]="'Пароль успешно изменён!'"></app-succesful-send>
