@import './../moderation.component.scss';

.card-body {
    i {
        font-size: 1.5em;
    }
}

p {
    margin: 5px 5px 10px 15px;
}

h5 {
    margin: unset;
}

.form-control {
    margin: 10px;
    width: unset;
}

.card-actions {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin: 10px;

    button {
        width: 120px;
    }
}

.no-active {
    color: grey;
    border-color: grey;
    opacity: .25;
}

.bi-person-check-fill {
    color: green;
}
.bi-person-fill-dash {
    color: red;
}

.set-role {
    width: unset;
    margin: 10px;
}

.role-actions {
    display: flex;
    justify-content: center;

    button {
        margin: 10px;
    }
}

label {
    margin-left: 10px;
}

.form-check {
    margin: 0px 10px;
}
