<div class="form-container">
    <h5>Введите свои учётные данные</h5>

    <form>
        <div class="form-group">
            <label for="userName">Ваш будущий логин</label>
            <input type="text" class="form-control" id="userName" placeholder="Логин" [(ngModel)]="userName" name="userName">
        </div>
        <div class="form-group">
            <label for="question">Выберите свой контрольный вопрос</label>
            <select class="form-select" [(ngModel)]="activeQuestion">
                <option *ngFor="let question of questionsList">{{ question.Question }}</option>
            </select>
        </div>
        <div class="form-group">
            <label for="answerQuestion">Ответ на вопрос</label>
            <input type="text" class="form-control" id="answerQuestion" placeholder="Ответ" [(ngModel)]="answerQuestion" name="answerQuestion">
        </div>
        <div class="form-group">
            <label for="password">Придумайте свой пароль</label>
            <input type="password" class="form-control" id="password" placeholder="Пароль" [(ngModel)]="password" name="password">
        </div>
        <div class="form-group">
            <label for="repeatPassword">Повторите пароль</label>
            <input type="password" class="form-control" id="repeatPassword" placeholder="Повторите пароль" [(ngModel)]="repeatPassword" name="repeatPassword">
        </div>

        <div *ngIf="incorrectPasswords" style="color: red; margin-bottom: 10px;">Пароли не совпадают!</div>

        <button type="submit" class="btn btn-outline-dark" (click)="register(activeQuestion)">Зарегистрировать</button>
    </form>
</div>
